body{
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
}

a button:hover{
    background-color: #e3e4e7;
}

#iconWrapper{
    font-size: x-large;
    font-weight: 800;
    width: max-content;
    min-width: 250px;
    display: inline-block;
    height: max-content;
    background-color: white;
    padding: 8px;
    padding-bottom: 10px;
    border: none;
}

#iconWrapper:hover{
    background-color: #e3e4e7;
    border-radius: 5px;
}

.navbarWrapper{
    border-bottom: 1px solid #d5d9dc;
    position: fixed;
    top:0px;
    width: 100%;
    height: min-content;
    border-top: 3px solid #129AED;
    background-color: white;
}   

.navbar{
    max-width: 1200px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: row;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#gray{
    color: #9aa0a6;
}

.header button{
    display: flex;
    flex-direction: row;
    width: max-content;
    background-color: white;
    padding: 10px;
    border-radius: 50vw;
    border: none;
    color: gray;
}

.sideBarLeft{
    border-right: 1px solid #d5d9dc;
    width: fit-content;
    height: 100%;
    position: fixed;
    padding-top: 20px;
}
.sideButtons{
    padding-bottom: 20px;
}

.sideBarLeft button{
    background-color: white;
    border: none;
    border-radius: 5px;
    min-width: 150px;
    width: min-content;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.sideBarLeft p{
    text-align: start;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0;
}

.sideBarLeft button:hover{
    background-color: #f6f6f6;
    border: none;
}

.questionWrapper h3{
    text-align: center;
    padding-bottom: 20px;
}

.mainPage{
    padding-left: 150px;
    padding-right: 24px;
    min-width: min-content;
    width: fit-content;
}

.contentPage{
    max-width: 65%;
    margin:auto;
    margin-top:59px;
    display: flex;
    align-items: column;
}

.highlight{
    border-bottom: 1px solid #d5d9dc;
    padding: 15px;
}

#askQuest{
    display: flex;
    justify-content: space-between;
}

#askQuest button{
 background-color: #1c75ce;
 color: white;
 margin-top: 20px;
 margin-bottom: 20px;
 border: none;
 border-radius: 5px;
 padding: 10px;
}

#askQuest button:hover{
    background-color: #155ca3;
}

#askQuest h2{
    font-weight: 500;
}

.questions{
    border-bottom: 1px solid #d5d9dc;
    padding: 15px;
    display: flex;
    width: fit-content;
}

.votes{
    padding-right: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: flex-end;
    justify-content: space-evenly;
}

.votes p{
    margin: 0;
    margin-bottom: 10px;
    text-align: end;
    width: max-content;
    /* color: gray; */
}
.votes p:first-child{
    color: black;
}
.sideBarRight{
    margin-top: 30px;
    min-width:min-content;
    font-size: small;
}

.blogBox{
    background:#fff8dc;
    border:1px solid #f1b600;
    border-radius:8px;
    padding:10px;
    margin-bottom:20px;
}

.blogBox ul{
    padding-left:20px;
    font-size: small;
}

.blogBox li{
    margin:6px;
}

.questionPar{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.questionPar a{
    margin: 0;
    font-size: large;
    text-decoration: none;
    color: #155ca3;
}

.questionPar p{
    margin: 0;
    font-size: 14px;
    margin-top: 15px;
}

.codeText{
    background-color: #f2f2f3;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

.answer{
    color: #18864a;
    border: 1px solid #18864a;
    border-radius: 5px;
    padding: 2px;
}

.rep{
    color: white;
    background-color: #155ca3;
    border-radius: 5px;
    padding: 5px;
}

.hotList{
    color: #1c75ce;

}

.hotList li{
    margin-bottom: 10px;
}

.viewRange{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.range{
    border: 1px solid #9aa0a6;
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    /* padding-left: 20px; */
    min-width: fit-content;
    width: 30%;
    font-size: small;
    text-align: left;
}

.viewRange p{
    margin: 0;
    text-align: left;
}

.navButtons{
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: start;
    height: min-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.searchBar button{
    border: none;
    background: none;
    cursor: pointer;
}

.searchBar svg{
    fill: #555;
}