body {
    margin: 0;
    background-color: #101010;
}

img{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.skipAd{
    height: 50px;
    width: 100px;
    background-color: whitesmoke;
    position: fixed;
    right: 100px;
    bottom: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10%;
    font-size: larger;
}

.skipAd:hover{
    cursor: pointer;
    background-color: rgb(209, 209, 209);
}

.tabScreen{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

.moreAds{
    min-width: 150px;
    min-height: 200px;
    border-radius: 10px;
    border: #101010 2px solid;
}