body{
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}
pre{
    margin: 0;
}
.row{
    display: flex;
    flex-direction: row;
}
h2{
    margin-bottom: 10px;
}


a{
    text-decoration: none;
}

.hidden {
    color: white;
}

a button:hover{
    background-color: #e3e4e7;
}
.questEnd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#questShare{
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-between;
    width: 250px;
    color: gray;
}

.userCard{
    background:#ecf5fd;
    width:fit-content;
    border-radius:8px;
    padding:10px;
    font-size: small;
}


.userCardAnswer{
    width:fit-content;
    /* border-radius:8px; */
    padding:10px;
    font-size: small;
}

.askTime{
    color:#5b6b73;
    width: 100%;
}

.userRow{
    display:flex;
    align-items:flex-start;
}

.avatar{
    width:32px;
    height:32px;
    border-radius:4px;
    margin-right:8px;
}

.userInfo{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    font-size: small;
}

.name{
    font-size:14px;
    height: 16px;
}

.stats{
    display:flex;
    gap:8px;
    font-size:14px;
    color:#444;
}

#gold{ color:#f2b600; }
#blue{ color: #2b6cb0; }
#gray{ color:#9aa0a6; }
#bronze{ color:#c58b5c; }
#rep{font-weight:bold;}

.comments{
    border-top: 1px solid #d5d9dc;
    font-size: small;

}

.answers{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortBy{
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    width: 50%;
    align-items: center;
    font-size: small;
}
.sortBy span{
    width: max-content;
    white-space: nowrap;
    padding-right: 5px;
}

.highestScoreBox{
    border: 1px solid #9aa0a6;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    font-size: small;
}

.comments p {
    margin:0;
    margin-bottom: 5px;
    padding-left: 35px;
    border-bottom: 1px solid #d5d9dc;
}


.questParag{
    padding-top: 10px;
}


#iconWrapper{
    font-size: x-large;
    font-weight: 800;
    width: max-content;
    display: inline-block;
    height: max-content;
    background-color: white;
    padding: 8px;
    padding-bottom: 10px;
    border: none;
}

#iconWrapper:hover{
    background-color: #e3e4e7;
    border-radius: 5px;
}

.navbarWrapper{
    border-bottom: 1px solid #d5d9dc;
    position: fixed;
    top:0px;
    width: 100%;
    border-top: 3px solid #129AED;
    background-color: white;
}   

.navbar{
    max-width: 1200px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: row;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header button{
    display: flex;
    flex-direction: row;
    width: max-content;
    background-color: white;
    padding: 10px;
    border-radius: 50vw;
    border: none;
    color: gray;
}


.sideBarLeft{
    border-right: 1px solid #d5d9dc;
    width: fit-content;
    height: 100%;
    position: fixed;
    padding-top: 20px;
}
.sideButtons{
    padding-bottom: 20px;
}

.sideBarLeft button{
    background-color: white;
    border: none;
    border-radius: 5px;
    min-width: 150px;
    width: min-content;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.sideBarLeft p{
    text-align: start;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0;
}

.sideBarLeft button:hover{
    background-color: #f6f6f6;
    border: none;
}

.contentPage{
    max-width: 65%;
    margin:auto;
    margin-top:59px;
    display: flex;
    align-items: column;
}


.mainPage{
    padding: 10px;
    padding-left: 170px;
    width: 70%;
    letter-spacing: 0px;
    line-height: 30px;
}


.highlight{
    border-bottom: 1px solid #d5d9dc;
    padding: 15px;
}


#askQuest{
    display: flex;
    justify-content: space-between;
}

#askQuest h2{
    font-weight: normal;
}
.AI{
    cursor: help;
    border-bottom: 1px dotted black;
    overflow-wrap: break-word;
}

.questInfo{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d5d9dc;
    padding-bottom: 10px;
}

.questInfo p{
    width: fit-content;
    margin: 0;
    font-size: small;
    padding-right:20px;
}

.questDetail{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.voting{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

.voting button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #d5d9dc;
    background-color: white;
}

.voting button:hover{
    background-color:#fbdbc1;
}

.voting h3{
    margin: 10px;
}

.codeArea{
    padding-right: 15px;
    padding-left: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-top: 20px;
    margin-bottom: 20px;
}


.codeText{
    background-color: #f6f6f6;
    border-radius: 10px;
    border: none;
    padding: 2px;
    
}

.hotList{
    color: #1c75ce;

}

.hotList li{
    margin-bottom: 10px;
}

.sideBarRight{
    margin-top: 30px;
    margin-left: 20px;
    width:350px;
    font-size: small;
}

.blogBox{
    background:#fff8dc;
    border:1px solid #f1b600;
    border-radius:8px;
    padding:10px;
    margin-bottom:20px;
}

.blogBox ul{
    padding-left:20px;
    font-size: small;
}

.blogBox li{
    margin:6px;
}


.navButtons{
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: start;
    height: min-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.searchBar button{
    border: none;
    background: none;
    cursor: pointer;
}

.searchBar svg{
    fill: #555;
}